nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d3d3d3;
    color: black;
}

nav ul {
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;

}
nav li:hover{
    background-color: white;
}
.chat-window{
    height: 400px;
    
}

.message-box{
 
}

.message-p{
    overflow-wrap: break-word;
}
/* TODO napraviti scroll i sakriti viška elemente */ 