*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-image: url("../images/blue-bubbles-7.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}
.chatName{
    font-size: 1.5rem;
    margin: 0.5rem;
}
nav ul {
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;

}
nav li:hover{
    background-color: #555;
}