nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d3d3d3;
    color: black;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
}

nav li:hover {
    background-color: white;
}

.profile-details {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
}

img {
    width: 100px;
    height: 100px;
}
/* TODO urediti izgled profila */